<form #form="ngForm" (ngSubmit)="login()" >
    <br />
    <div class="container border p-4">
        <div class="row text-center">
            <h1 class="text-white">Login</h1>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-6 offset-md-3 pb-2">
                <input [(ngModel)]="model.userName" name="userName" class="form-control" placeholder="Username..." required/>
            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <input [(ngModel)]="model.password" name="password" class="form-control" type="password" placeholder="Password..." required/>
            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <input type="submit" value="Login" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>