<div class="container border p-3">
    <h1 class="text-white text-center">Delete Coupon</h1>
    <input type="hidden" value="{{coupon?.id}}" name="id" />
    <hr />
    <div class="row">
        <div class="col-2">
            <label class="control-label pt-2" style="font-size:20px;">Code</label>
        </div>
        <div class="col-10 pb-3">
            <input value="{{coupon?.code}}" name="code" class="form-control" readonly />
        </div>
        <div class="col-2">
            <label class="control-label pt-2" style="font-size:20px;">Discount Amount</label>
        </div>
        <div class="col-10 pb-3">
            <input value="{{coupon?.discountAmount}}" name="discountAmount" class="form-control" type="number"
                readonly />
        </div>
        <div class="col-2">
            <label class="control-label pt-2" style="font-size:20px;">Min Amount</label>
        </div>
        <div class="col-10 pb-3">
            <input value="{{coupon?.minAmount}}" name="minAmount" class="form-control" type="number" readonly />
        </div>

        <div class="col-5 offset-2">

            <a class="btn-primary btn form-control " routerLink="/coupons">Back to List</a>
        </div>
        <div class="col-5">
            <input type="submit" value="Confirm Delete" class="btn btn-danger form-control" (click)="delete()" />
        </div>

    </div>

    <div>
    </div>
</div>