<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">FUD.Web</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <ng-container *ngIf="user !== undefined">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Content Management
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['coupons']">Coupon</a></li>
                <li><a class="dropdown-item" [routerLink]="['products']">Product</a></li>
              </ul>
            </li>
  
            <li class="nav-item">
              <a class="nav-link">Manage Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['cart']"><i class="bi bi-cart"></i> Cart</a>
            </li>
          </ng-container>
          

        </ul>
        <ul class="navbar-nav">
          <ng-container *ngIf="user === undefined; else showLogout">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Register</a>
            </li>
          </ng-container>
          <ng-template #showLogout>
            <li class="nav-item">
              <a class="nav-link" href="#">Hello, {{user?.email}}</a>
            </li>
            <li class="nav-item">
              <button class="nav-link" (click)="onLogout()">Logout</button>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>